/* 
 * Global ------------------------------
 */

body {
    background: black;
}

/* Header and Footer Logo */
header .logo-text,
footer .logo-text {
    color: var(--primary-color);
    font-weight: 800;
    font-style: italic;
}

header .logo-text {
    font-size: 36px;
}

footer .logo-text {
    font-size: 70px;
}

/* -- Buttons -- */
.button-global {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;

    font-size: 16px;
    font-weight: 600;
    padding: 16px 0;
    border-radius: 50px;
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}
.button-primary:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.button-transparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.button-transparent:hover {
    background-color: white;
    color: black;
}

/* 
 * Header ------------------------------
 */
header {
    position: absolute;
    padding-top: 55px;
    width: 100%;
}

header .container {
    align-items: center;
}

header .nav-menu {
    display: flex;
    gap: 20px;
    align-self: flex-end;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;

    padding: 4px;
}

header .nav-menu .menu-item a {
    display: block;
    border-radius: 1000px;
    padding: 8px 20px;
}

header .nav-menu .menu-item :hover {
    background-color: var(--primary-color);
}

header .nav-menu .menu-item.active a {
    background-color: var(--primary-color);
}

header .nav-menu li {
    list-style: none;
}

/* 
 * Main Body ------------------------------
 */

/* ----- Section: Hero ----- */
.hero {
    background-image: linear-gradient(
        to bottom,
        #111111,
        #151515,
        #181818,
        #1c1b1b,
        #1f1e1e,
        #1e1d1d,
        #1d1d1c,
        #1c1c1b,
        #171716,
        #121111,
        #0a0909,
        #000000
    );
    padding-top: 140px;
    /* padding-bottom: 77px; */
}

.hero .row {
    align-items: center;
}

.hero .hero-contents .heading {
    width: 530px;
    max-width: 530px;
}

.hero .hero-contents .heading span {
    font-family: 'Miama', sans-serif;
    font-size: 160px;
    font-weight: 400;
}

.hero .hero-contents .text {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 12px;
}

.hero .hero-contents .btn-container {
    gap: 15px;
}

.hero .img-container {
    position: relative;
    padding-bottom: 0;
}

.hero .img-container .box {
    align-self: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.1);
    width: auto;
    padding: 17px 24px;
    gap: 3px;
}

.hero .img-container .box-1 {
    position: absolute;
    right: -40px;
    top: 130px;
}

.hero .img-container .box .count {
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.hero .img-container .box .box-text {
    color: white;
    opacity: 0.65;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.hero .img-container .box-2 {
    gap: 5px;
    padding-left: 75px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.hero .img-container .box-2:before {
    content: '';
    background-color: var(--primary-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 23px;
    transform: translateY(-50%);
}

.hero .img-container .box-2 .count {
    font-size: 24px;
}

.hero .img-container .box-2 .box-text {
    font-size: 16px;
}

.hero .img-container .hero-img {
    max-width: 350px;
    align-self: center;
    margin-right: -90px;
}

/* ----- Section: Change Your Habit ----- */
.habits-section {
    padding-top: 90px;
    gap: 40px;
}

.habits-section .intro {
    align-items: center;
    max-width: 600px;
}

.habits-section .intro .heading,
.habits-section .intro .text,
.habits-section .habit .heading,
.habits-section .habit .text {
    text-align: center;
}

.habits-section .habit {
    align-items: center;
    gap: 6px;
}

.habits-section .habit .heading {
    font-size: 18px;
    font-weight: 600;
    margin-top: 22px;
}

.habits-section .habit img {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    max-width: 200px;
}

/* ----- Section: Run an Extra Mile Easily ----- */
.run-section {
    padding-top: 90px;
}

.run-section .container {
    border-radius: 18px;
    background: var(--bg-color);
    padding: 20px;
}

.run-section .contents {
    padding: 21px 10px 21px 34px;
}

.run-section .contents .heading {
    max-width: 300px;
}

.run-section .contents .text {
    max-width: 430px;
}

.run-section .img-container img {
    max-width: 366px;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    border-radius: 18px;
    align-self: flex-end;
}

/* ----- Section: BMI Calculator ----- */

.bmi-section .intro {
    max-width: 650px;
    padding-top: 90px;
    padding-bottom: 80px;
}

.bmi-section .container {
    background-color: var(--bg-color);
    padding: 50px 0px;
}

.bmi-section .table-container {
    width: 45%;
}

.bmi-section .calc-container {
    width: 55%;
}

.bmi-section .bmi-table {
    border-collapse: collapse;
    margin-top: 35px;
    max-width: 330px;
}

.bmi-section .bmi-table th,
.bmi-section .bmi-table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    color: white;
    padding: 15px 18px;
}

.bmi-section .bmi-table th {
    font-size: 16px;
    font-weight: 500;
}

.bmi-section .bmi-table td {
    font-size: 14px;
    opacity: 0.5;
}

.bmi-section .bmi-form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.bmi-section .bmi-form .col-half {
    width: calc(50% - 12px / 2);
}

.bmi-section .bmi-form .col-full {
    width: 100%;
}

.bmi-section .bmi-form .item {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.bmi-section .bmi-form .item::placeholder {
    opacity: 1;
}

.bmi-section .bmi-form select {
    appearance: none;
    background: url('../images/down.png') no-repeat right 20px center / 15px !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.bmi-section .bmi-form select > option {
    color: black;
}

.bmi-section .bmi-form button {
    margin-top: 15px;
}

.bmi-section #result {
    width: 100%;
    color: white;
    font-size: 16px;
}

/* ----- Section: Meet Our Team ----- */
.team-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.team-section .intro {
    align-items: center;
    max-width: 600px;
}

.team-section .intro .heading,
.team-section .intro .text {
    text-align: center;
}

.team-section .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: var(--content-width);
    background-color: var(--bg-color);
    border-radius: 18px;
    padding: 20px;
    margin-top: 40px;
}

.team-section .team .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 272px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 18px;
    padding: 16px 20px;
}

.team-section .team .item1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer1.png');
}
.team-section .team .item2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer2.png');
}
.team-section .team .item3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer3.png');
}
.team-section .team .item4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer4.png');
}
.team-section .team .item5 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer5.png');
}
.team-section .team .item6 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer6.png');
}

/* ----- Section: Client Testimonial ----- */
.testimonials-section {
    padding-bottom: 90px;
}
.testimonials-section .intro {
    align-items: center;
    max-width: 600px;
}

.testimonials-section .intro .heading,
.testimonials-section .intro .text {
    text-align: center;
}

.testimonials-section .testimonials {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.testimonials-section .testimonial {
    align-items: center;
    width: calc(50% - 30px / 2);
    gap: 0;
}

.testimonials-section .testimonial img {
    max-width: 80px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.testimonials-section .testimonial .message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}

/* 
 * Footer ------------------------------
 */

footer {
    background: var(--bg-color);
}

footer .contents {
    padding-top: 40px;
    padding-bottom: 30px;
}

footer .menu-container .heading,
footer .service-container .heading {
    font-weight: 700;
}

footer .logo-container {
    width: 44%;
}

footer .menu-container {
    width: 28%;
    padding-left: 50px;
}

footer .service-container {
    width: 28%;
    padding-left: 50px;
}

footer .nav-menu {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0;
}

footer .nav-menu .menu-item a {
    display: block;
    padding: 8px 0px;
    opacity: 0.5;
}

footer .nav-menu .menu-item :hover {
    color: var(--primary-color);
}

footer .nav-menu li {
    list-style: none;
}

footer .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 25px;
    padding-bottom: 25px;
}

footer .copyright .text {
    font-size: 16px;
    text-align: center;
}

/* -- Scroll Up Button -- */
.scroll-up {
    background: rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 8px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.scroll-up:hover {
    background: rgb(255, 255, 255, 0.6);
}

/* 
 * Responsive ------------------------------
 */

@media only screen and (max-width: 576px) {
    /* -- Buttons -- */
    .button-global {
        width: 160px;
        font-size: 14px;
        padding: 14px 0;
    }

    /* Header */
    header {
        padding-top: 20px;
    }

    header .nav-menu {
        display: none;
    }

    /* ----- Section: Hero ----- */
    .hero {
        padding-top: 120px;
    }

    .hero .hero-contents .heading {
        max-width: 300px;
    }

    .hero .hero-contents .heading span {
        font-size: 74px;
    }

    .hero .hero-contents .text {
        font-size: 14px;
    }

    .hero .hero-contents .btn-container {
        flex-direction: row;
    }

    .hero .img-container .box {
        padding: 6px 15px;
    }

    .hero .img-container .box .count {
        color: white;
        font-size: 30px;
        font-weight: 900;
    }

    .hero .img-container .box .box-text {
        font-size: 12px;
    }

    .hero .img-container .box-1 {
        right: 20px;
        top: 60px;
    }

    .hero .img-container .box-2 {
        padding: 10px 20px 12px 55px;
        bottom: 230px;
        left: 20px;
    }

    .hero .img-container .box-2:before {
        height: 30px;
        width: 30px;
        border-radius: 50%;

        left: 15px;
    }

    .hero .img-container .box-2 .count {
        font-size: 20px;
    }

    .hero .img-container .box-2 .box-text {
        font-size: 14px;
    }

    .hero .img-container .hero-img {
        margin-right: 0px;
    }

    /* ----- Section: Change Your Habit ----- */
    .habits-section {
        padding-top: 40px;
    }

    .habits-section .habits {
        max-width: 280px;
        gap: 25px;
    }

    /* ----- Section: Run an Extra Mile Easily ----- */
    .run-section {
        padding: 40px 10px 0px 10px;
    }

    .run-section .container {
        border-radius: 12px;
        padding: 20px;
        max-width: 480px;
    }

    .run-section .contents {
        padding: 20px 10px 10px 10px;
    }

    .run-section .img-container img {
        margin-top: 15px;
        border-radius: 12px;
        max-width: 100%;
    }

    /* ----- Section: BMI Calculator ----- */
    .bmi-section .intro {
        padding-top: 60px;
        padding-bottom: 20px;
        max-width: 480px;
    }

    .bmi-section .container {
        padding: 30px 0px;
    }

    .bmi-section .bmi-table {
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .bmi-section .bmi-table th {
        font-size: 15px;
        font-weight: 500;
    }

    .bmi-section .bmi-form .item {
        border-radius: 5px;
        font-size: 14px;
    }

    .bmi-section .bmi-form select {
        background: url('../images/down.png') no-repeat right 20px center / 12px !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
    }

    /* ----- Section: Meet Our Team ----- */
    .team-section {
        padding: 40px 10px;
    }

    .team-section .team {
        grid-template-columns: repeat(1, 1fr);
        max-width: 480px;
        margin-top: 20px;
    }

    /* ----- Section: Client Testimonial ----- */
    .testimonials-section {
        padding-bottom: 40px;
    }

    .testimonials-section .testimonials {
        margin-top: 10px;
        gap: 20px;
    }

    .testimonials-section .testimonial .message {
        height: auto;
        min-height: 130px;
        padding: 20px;
    }

    /* ----- Footer ----- */
    footer .contents > .column {
        padding-left: 10px;
        align-items: center;
    }

    footer .logo-text {
        font-size: 55px;
    }

    footer .contents {
        padding-top: 30px;
        padding-bottom: 5px;
        gap: 20px;
    }

    footer .logo-container .text {
        text-align: center;
        max-width: 400px;
    }

    footer .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    footer .nav-menu .menu-item a {
        font-size: 14px;
        padding: 6px 0;
    }

    footer .copyright {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    footer .copyright .text {
        font-size: 14px;
    }

    /* Scroll Up Button */
    .scroll-up {
        height: 35px;
        width: 35px;
        border-radius: 6px;
        right: 15px;
        bottom: 15px;
    }
}
